
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    font-size: 10px;
    --Navy: #001f3f;
    --Blue: #0074D9;
    --Teal: #39CCCC;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    margin: 1rem;
    padding: 0;
}