/* Colors
Navy: #001f3f
Blue: #0074D9
Teal: #39CCCC */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    font-size: 10px;
    --Navy: #001f3f;
    --Blue: #0074D9;
    --Teal: #39CCCC;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    margin: 1rem;
    padding: 0;
}

.navigation{
   display: flex;
    background-color: var(--Navy);
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    height: 7rem;
    justify-content: space-between;
    font-size: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Festive', cursive;
    font-size: 3rem;
}


.logo img{
    margin-right: 1rem;
    height: 100%;
    width: 7%;
}

.nav_list{
    display: flex;
    align-items: center;

}
.nav_list ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

.list_item{
    padding: .5rem;
    text-transform: uppercase;
    font-family: 'Andada Pro', serif;
    font-size: 1.8rem;
}


.list_item a{
    text-decoration: none;
    color: white;

    padding: 0rem 1rem;
}

@media screen and (max-width: 670px) {
    .navigation{
        flex-direction: column;
        height: 10rem;
        justify-content: center;
        align-items: center;
    }

    .logo{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 450px) {
    body{
        margin: 0;
    }
    .navigation{
        padding: 1.3rem;
    }
    .title{
        font-size: 5rem !important;
    }

    .title2{
        font-size: 4rem !important;
    }
    .navigation{
        margin-bottom: 0;
    }

    .list_item{
        font-size: 1.2rem;
    }
}

/* the hover effect was done by this guy, but I edited it to fit my project 
refereence: https://www.youtube.com/watch?v=yks0aEfaETs */
ul li{
    position: relative;

}
ul li:hover{
    text-shadow: 0px 0px 5px black;
    
    cursor: pointer;

}

ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    border-radius: 1rem;
    position: absolute;
    bottom: -1px;
    right: 0%;
    transition: .2s;
}

ul li:hover::after{
    width: 98%;
    left: 0%;
}
/* Hover effect end */


/* Home CSS start */
.home{
    
    background-image: url(./images/home.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 68rem;
    font-family: 'Festive', cursive;
    color: white;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    text-transform: capitalize;
    letter-spacing: .4rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 1rem;
}
@media screen and (max-width: 450px) {
.home{
    margin-bottom: 0;
}
}

.title{
    font-size: 10rem;
}

.title2{
    font-size: 5rem;
}
/* Home CSS End */


/* About Us Start */
.aboutUs{
    height: 69rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs h1{
    font-family: 'Bebas Neue', cursive;
    color: var(--Navy);
    font-size: 8rem;
    text-transform: capitalize;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.details{
    display: flex;
}

.card{
    flex: 1;
    border-radius: 10%;
    margin: 2rem;
    padding: 1rem;
    margin-top: -1rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    text-align: center;
}

.card img{
    border-radius: 10%;
    flex: 4;
    height: 25rem;
    width: 100%;
    
}

.card h3{
    flex: 1;
    font-size:3rem;
    margin-top: 1rem;
    color: var(--Navy);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .3rem;
}

.card p{
    flex: 1;
    font-size: 1.8rem;
    color: var(--Navy);
    margin-top: -4rem;
}
@media screen and (max-width: 1200px) {
    .logo img{
        display: none;
    }

    

    .card{
        margin-top: 5rem;
        height: 30rem;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .card img{
        display: none;
    }
    .card h3{
       flex: none;
       border-bottom: 1px solid var(--Navy);
    }
    .card p{
        flex: none;
        align-self: center;
        font-size: 2rem;
    }
  }

  @media screen and (max-width: 900px) {
      .card h3{
          font-size: 2rem;
      }
  }

  @media screen and (max-width: 670px) {
      .card{
          height: 35rem;

      }

      .card h3{
          font-size: 2rem;
          text-align: center;

      }

      .card p{
          font-size: 2rem;
      }
  }

  @media screen and (max-width: 450px) {
    .aboutUs{
        overflow: hidden;
        height: 150rem;
    }  

    .card{
        flex: none;
    }
    
    .aboutUs h1{
          font-size: 5rem;

      }

      .details{
          flex-direction: column;
          text-align: center;
      }
}
/* About Us End */

/* Products start */

.products{
    background-color: whitesmoke;
    height: 68rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}



.products h1{
    flex: 3;
    font-family: 'Bebas Neue', cursive;
    color: var(--Navy);
    font-size: 8rem;
    text-transform: capitalize;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}


.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 7rem;
    flex: 14;
}

.product-card{
    
    height: 20rem;
    width: 40rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card1{
    background-image: url(images/iphone13promaxx.jpg);
    background-size: cover;
    
}
.card2{
    background-image: url(images/iphone13.jpg);
    background-size: cover;
    
}
.card3{
    background-image: url(images/ipadpro.jpg);
    background-size: cover;
    
}
.card4{
    background-image: url(images/macbook2.jpg);
    background-size: cover;
   
    
}
.card5{
    background-image: url(images/airpodspro.jpg);
    background-size: cover;
    
}
.card6{
    background-image: url(images/airtag.jpg);
    background-size: cover;

    
}

.product-info{
    width: 100%;
    height: 100%;
}
.product-description{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-transform: uppercase;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
 
}


.product-card:hover .product-description{
        visibility: visible;
        opacity: 1;       
}
.product-card:hover{
    backdrop-filter: blur(3px);

}
.product-name{
    margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
    .products{
        height: 100rem;
        padding-bottom: 3rem;
    }
    .product-grid{
        grid-template-columns: repeat(2, 2fr);
       grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .product-card{
        height: 25rem;
    width: 30rem;
    }

    .product-description{
        visibility: visible;
        opacity: 1;
        font-size: 2rem;
    }
}

@media screen and (max-width: 670px) {

    .products{
        height: 200rem;
        padding-bottom: 3rem;
    }
    .product-grid{
        grid-template-columns: repeat(1, 2fr);
       grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .products{
            margin: 0;
            padding: 2rem;
    }
}

/* Products end */


/* Contact Us Start */
.contactUs{
    height: 10rem;
    width: 100%;
    
    background-color: var(--Navy);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contactUs ul{
    height: 100%;
    width: 100%;
    list-style: none;
    color: whitesmoke;
    font-size: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contactUs-listItem{
    margin: 2rem;
}
.contactUs-listItem a{
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 450px) {
    .contactUs{
        height: 10rem;
        margin: 0;
        padding: 0;
    }
    .contactUs ul{
        font-size: 2.8rem;
    }
}
/* Contact Us End */


